<section id="sample-table" class="mat-elevation-z8 bg-white">
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Status</button>
    <table mat-table [dataSource]="dataSource" #mytable matSort class="w-100">
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Label </th>
            <td mat-cell *matCellDef="let row" ><b>{{row.label}}</b></td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Description</th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <td mat-cell *matCellDef="let row">
                <div>
                    <button class="btn btn-primary action-button" (click)="openDialog('Update',row)">Edit</button>
                    <button class="btn btn-danger action-button" (click)="openDialog('Delete',row)">Delete</button>
                </div>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</section>