<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'capBleue'" [icon]="'code'" [count]="13" [label]="'Full Stack'"></app-stat>
  </div>

  <div class="mb10" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'capGrey'" [icon]="'bug_report'" [count]="12" [label]="'Testing'"></app-stat>
  </div>

  <div class="mb10" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'capLightBleue'" [icon]="'view_list'" [count]="124" [label]="'Sales Force'"></app-stat>
  </div>
</div>



<div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10 my-6" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'verified_user'" [count]="12" [label]="'Accepted'"></app-stat>
  </div>

  <div class="mb10" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'history'" [count]="124" [label]="'Current'"></app-stat>
  </div>

  <div   class="mb10" fxFlex="32" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'red'" [icon]="'not_interested'" [count]="13" [label]="'Rejected'"></app-stat>
  </div>
</div>
