<div class="search-box" >
    <mat-card fxLayout.xs="column" fxFlex.gt-xs="40" class="mb15" fxLayout="column wrap" fxLayout.lt-xs="column" fxLayoutAlign="space-around stretch">
      <mat-card-header>
        <mat-card-title>Search for a candidate</mat-card-title>
      </mat-card-header>
        <mat-card-content>
            <mat-checkbox 
            #someInput id="elem{{i}}"  *ngFor="let a of arr1;let i=index"  (change)="onCheckboxChecked($event, a)" >{{a}}</mat-checkbox>
        </mat-card-content>
        <mat-card-content align="end">
            <mat-form-field  appearance="legacy">
                <mat-label>Search</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </mat-card-content>
        
        
    </mat-card>
</div>