
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
  <mat-card fxFlex.gt-xs="40" class="mb15">
    <mat-card-header>
      <mat-card-title>Basic Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <form [formGroup]="candidateForm"  class="example-form">
        <mat-form-field class="example-full-width">
          <input formControlName="firstName" matInput placeholder="First Name" required="true">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="lastName" matInput placeholder="Last Name" required="true">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="cin" matInput placeholder="CIN" required="true">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="passportId" matInput placeholder="Passport ID">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required="true">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="phoneNumber" matInput placeholder="Phone Number" [formControl]="phoneFormControl" [errorStateMatcher]="matcher" required="true">
          <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
            Please enter a valid phone number
          </mat-error>
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            Phone number is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="address" matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="profile" placeholder="Profile">
            <mat-option value="option">FullStack</mat-option>
            <mat-option value="option">SalesForce</mat-option>
            <mat-option value="option">Testing</mat-option>
            <mat-option value="option">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-form">
          <input formControlName="expDuration" matInput type="number" min="0" placeholder="Years of experience">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input formControlName="receivedDate" matInput placeholder="receivedDate" required="true">
        </mat-form-field>

       
        <div style="margin-top: auto; margin-bottom: 10%;">
          <button  type="button" (click)="persistCandidate()" mat-raised-button color="primary">Add Candidate</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>